#side-menu-agent, #side-menu {
    background-color: transparent;
    background: #293846;
}

.swal-footer {
    text-align: center;
    background-color: rgb(245, 248, 250);
    margin-top: 10px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}

.swal2-popup {
    font-size: 1.6rem !important;
}

/* modal component vue css */
.modal-lg {
    width:80% !important;
}

.modal-lg .modal-body {
    margin: 0px 20px 20px 10px !important;
    padding: 10px 15px 30px 25px !important;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto !important;
    webkit-transform: translate3d(0,0,0) !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;

}

.modal-body > button {
    margin-right:1%;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    margin: auto !important;
    padding: 44px !important;
    width: 50%;
}

.navbar-static-top
{
    z-index: 0 !important;
}

.modal-container {
    margin: 0px auto;
    -webkit-flex: 1 !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
    width: 100% !important;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
    max-height: 70%;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* Vee Date Validation */

.input.is-danger, .textarea.is-danger {
    border-color: #ff3860;
}

.help.is-danger {
    clear: both;
    color: #ff3860;
}

.help {
    display: block;
    font-size: 11px;
    margin-top: 5px;
}

/*modal fix header visible */
.navbar {
    position: static;
}

/*modal fix menu visible */
.navbar-static-side {
    z-index: 0;
    position: fixed;
}

/*modal fix footer visible */
.footer{
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0
}

/*Vue Datatable fix footer visible */
.VueTables {
    margin-bottom: 40px;
}

.input_warning_icon {
    position: absolute;
    margin-top: -22px;
    color: red;
    margin-left: 5px;
}

.required_fields {
    margin-top: -30px;
    color:red;
}

.asterisk_label {
    color:red;
    position: absolute;
    /*margin-top: -23px;*/
}

.router_link_edit {
    color: white;
}

a.router_link_edit:hover {
    color: white;
}

.switch_label {
    margin-left: -50px;
    margin-bottom: 12px;
}

.custom-draggable {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    height: 440px;
    overflow: auto;
}

.custom-draggable article.custom-draggable-success {
    border-left: 3px solid #1ab394;
    height: 40px;
    padding-top: 5px;
}

.custom-draggable-success {
    background: #FAFAFB;
    border: 1px solid #e7eaec;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.custom-primary-photo {
    border-radius: 50%;
    width: 30px;
    display: inline-block;
}

.custom-box-color {
    border: 3px solid #f3f3f4;
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
}

.cursor-expand {
    cursor: pointer;
}

/*start The usersgroups portfolio checkbox-container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 0;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border: 2px solid #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkbox-checkmark {
    border: 2px solid #1b7e5a;
}

/* When the checkbox is checked, add a green background */
.checkbox-container input:checked ~ .checkbox-checkmark {
    background-color: #1b7e5a;
    border: 2px solid #1b7e5a;
}

/* Create the checkbox-checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkbox-checkmark when checked */
.checkbox-container input:checked ~ .checkbox-checkmark:after {
    display: block;
}

/* Style the checkbox-checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*end The usersgroups portfolio checkbox-container */

/*start custom uploader css*/
.custom-file-button {
    padding: 6px 21px;
    cursor: pointer;
    position: absolute;
}

.custom-single-file-button {
    padding: 6px 18px;
    cursor: pointer;
    position: absolute;
}
/*end custom uploader css*/

.vdp-datepicker__calendar-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
}

.custom-datepicker {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 30px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}

.disabledInput {
    background-color: rgb(235, 235, 228);
}

.irrCustom > ul.dropdown-menu {
    height: 250px;
}

.fieldsetCustom {
    border: solid 1px green;
    padding: 10px;
    margin-bottom: 15px;
}

.legendCustom {
    display: block;
    /* width: 18%; */
    width: auto;
    padding: 0;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border-bottom: 0px;
}

.addOffenseCustom {
    width: 100%;
    margin-bottom: 50px;
}

/* .v-select ul.dropdown-menu { */
    /* max-height: 250px;
    border:1px solid blue; */
    /* z-index: 999999999; */
    /* position: absolute; */
/* } */

/* .message-custom-left {
    background-color: #fff;
    border: 1px solid #e7eaec;
    text-align: left;
    display: block;
    padding: 5px 15px;
    position: relative;
    border-radius: 4px;
    margin-bottom: 2px;
} */

/* .message-avatar {
    height: 50px;
    width: 50px;
    border: 1px solid #e7eaec;
    border-radius: 4px;
    margin-left: 12px;
} */

/* .chat-discussion-custom .chat-discussion .chat-message.left .message-custom-left {
    text-align: left;
} */

/* .chat-discussion-custom  {
    background: #eee;
    padding: 15px;
    height: 400px;
    overflow-y: auto;
} */

/* .chat-discussion-custom .chat-message.left .message-date {
    float: right;
} */

/* .message-custom-right {
    background-color: #fff;
    border: 1px solid #e7eaec;
    text-align: right;
    display: block;
    padding: 5px 15px;
    position: relative;
    border-radius: 4px;
    margin-bottom: 2px;
} */

/* .chat-discussion-custom .chat-discussion .chat-message.right .message-custom-right {
    text-align: right;
} */

/* .chat-discussion-custom .chat-message.right .message-date {
    float: left;
} */

/* .message-content-right {
    display: block;
    margin-top: 10px;
} */


.custom-tab > .tabs-component-panels {
    border: solid 1px #e0e0e0 !important;
}

.custom-tab > ul li.is-active .tabs-component-tab-a {
    font-weight: bold;
}

.custom-tab > ul li.is-active {
    border-color: #e0e0e0;
}

.custom-tab > ul .tabs-component-tab {
    border-color: #d2d2d2;
    border-bottom-color: #e0e0e0;
}

.tabs-component-tabs {
    padding: 0px;
    margin: 0px 10px -1px;
}

.tabs-component-tab {
    display: inline-block;
    border: solid 1px #9a9a9a;
    background: #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 1px 1px 0px;
}

.tabs-component-panels {
    border: solid 1px #9a9a9a;
    min-height: 300px;
    padding: 20px 30px;
    background-color: #fff;
}

.tabs-component-tab-a {
    color: #9a9a9a;
    padding: 5px 15px;
    display: block;
    font-size: 12px;
}

.is-active .tabs-component-tab-a {
    color: #000;
}

.tabs-component-tab.is-active {
    background-color: #fff;
    border-bottom-color: #fff;
}

.search-custom-input {
    font-size: 12px;
    font-style: italic;
    margin-left: 10px;
}

.style-red {
    color: red;
}

.v-select.single .selected-tag {
    background-color: transparent;
    border-color: transparent;
    height: auto;
}

.week {
    padding-left: 10px;
}
